.jsutil-scroll {
    width: 7px;
	height: 100%;
	position: absolute;
	right: 30px;
	top: 0px;
}

.jsutil-pin {
    border-radius: 5px;
	background: #b5b5b5;
	width: 100%;
	position: absolute;
}

.jsutil-scrollable {
    position: relative;
    width: calc(100% + 30px);
    padding-right: 30px;
}

.jsutil-no-overflow {
    overflow-x: hidden;
}